<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/lib/zepto.js"></script>
    <script src="/javascripts/lib/paper.js"></script>
    <script src="/javascripts/canvas.js" type="text/paperscript" canvas="myCanvas"></script>
    <script src="https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"></script>
    <script src="https://www.webrtc-experiment.com/video-conferencing/conference.js"></script>
  </head>
  <body></body>
  <button id="setup-new-room">Setup New Conference</button>
  <table id="rooms-list" style="width: 100%;"></table>
  <div id="videos-container"></div>
  <html></html>
</html>
<body>
  <script>
    var config = {
    openSocket: function(config) {
    var SIGNALING_SERVER = 'http://webrtc-signaling.jit.su:80/',
    defaultChannel = location.hash.substr(1) || 'video-conferencing-hangout';
    var channel = config.channel || defaultChannel;
    var sender = Math.round(Math.random() * 999999999) + 999999999;
    io.connect(SIGNALING_SERVER).emit('new-channel', {
    channel: channel,
    sender: sender
    });
    var socket = io.connect(SIGNALING_SERVER + channel);
    socket.channel = channel;
    socket.on('connect', function() {
    if (config.callback) config.callback(socket);
    });
    socket.send = function(message) {
    socket.emit('message', {
    sender: sender,
    data: message
    });
    };
    socket.on('message', config.onmessage);
    },
    onRemoteStream: function(media) {
    var video = media.video;
    video.setAttribute('controls', true);
    video.setAttribute('id', media.stream.id);
    videosContainer.insertBefore(video, videosContainer.firstChild);
    video.play();
    },
    onRemoteStreamEnded: function(stream) {
    var video = document.getElementById(stream.id);
    if (video) video.parentNode.removeChild(video);
    },
    onRoomFound: function(room) {
    var alreadyExist = document.querySelector('button[data-broadcaster="' + room.broadcaster + '"]');
    if (alreadyExist) return;
    var tr = document.createElement('tr');
    tr.innerHTML = '<td><strong>' + room.roomName + '</strong> shared a conferencing room with you!</td>' +
    '<td><button class="join">Join</button></td>';
    roomsList.insertBefore(tr, roomsList.firstChild);
    var joinRoomButton = tr.querySelector('.join');
    joinRoomButton.setAttribute('data-broadcaster', room.broadcaster);
    joinRoomButton.setAttribute('data-roomToken', room.broadcaster);
    joinRoomButton.onclick = function() {
    this.disabled = true;
    var broadcaster = this.getAttribute('data-broadcaster');
    var roomToken = this.getAttribute('data-roomToken');
    captureUserMedia(function() {
    conferenceUI.joinRoom({
    roomToken: roomToken,
    joinUser: broadcaster
    });
    });
    };
    }
    };
    var conferenceUI = conference(config);
    var videosContainer = document.getElementById('videos-container') || document.body;
    var roomsList = document.getElementById('rooms-list');
    document.getElementById('setup-new-room').onclick = function () {
    this.disabled = true;
    captureUserMedia(function () {
    conferenceUI.createRoom({
    roomName: 'Anonymous'
    });
    });
    };
    function captureUserMedia(callback) {
    var video = document.createElement('video');
    video.setAttribute('autoplay', true);
    video.setAttribute('controls', true);
    videosContainer.insertBefore(video, videosContainer.firstChild);
    getUserMedia({
    video: video,
    onsuccess: function (stream) {
    config.attachStream = stream;
    video.setAttribute('muted', true);
    callback();
    }
    });
  }
  </script>
  <div id="controls">
    <div id="userCountWrapper" style="opacity:0">artists:<span id="userCount"></span></div>
    <div data-color="47,47,47" style="background:rgb(37,37,37);" class="color"></div>
    <div data-color="109,73,37" style="background:rgb(109,73,37);" class="color active"></div>
    <div data-color="233,34,41" style="background:rgb(233,34,41);" class="color"></div>
    <div data-color="57,178,73" style="background:rgb(57,178,73);" class="color"></div>
    <div data-color="247,219,31" style="background:rgb(247,219,31);" class="color"></div>
    <div data-color="248,172,60" style="background:rgb(248,172,60);" class="color"></div>
    <div data-color="142,42,140" style="background:rgb(142,42,140);" class="color"></div>
    <div data-color="77,42,255" style="background:rgb(77,42,255);" class="color"></div>
    <div data-color="255,255,255" style="background:rgb(255,255,255);" class="color"></div>
    <label>Opacity
      <input type="range" min="0" max="255" value="200" id="opacity">
    </label>
  </div>
</body>
<canvas id="myCanvas" resize="true"></canvas>
<div id="chatbox" style="overflow:hidden;padding-left:0;height:400px; width=80%; border:1px solid black"></div>
<input id="chatInput" type="text">
<input id="sendBtn" type="button" value="Send">
